<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RMPageController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F475645F1ED2C98C00EF0C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47564781ED2C98C00EF0C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F47564831ED2C98C00EF0C08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
